<html>
    <head>
        <title>New Product Form</title>
    </head>  
    <body>
        <h1>Create new Product</h1>
        <p>Name:</p>
        <input type="text" id="title"/><br/>
         
        <p>Description</p>
         <input type="text" id="description"/><br/>
         
          <p>Price:</p>
        <input type="text" id="price"/><br/>
        
         <p>Quantity:</p>
        <input type="text" id="quantity"/><br/>
         
         
        <button id="submit">Submit</button>
        <script src="/lib/jquery/dist/jquery.min.js"></script>
        <script>
        var newProduct = {name:"", description:"",price:"",quantity:""};
            $('#submit').click(function(){
               console.log('submit clicked');
                newProduct.name= $('#title').val();
                newProduct.description = $('#description').val();
                 newProduct.price= $('#price').val();
                  newProduct.quantity= $('#quantity').val();
                $.ajax({
                    method: "POST",
                    url: "/api/products",
                    data: newProduct
                }).done(function(response){
                    console.log(response);
                    window.location.replace('/products/'+response._id);
                }).fail(function(response){
                    $('#error').text(JSON,parse(response.responseText).message)
                    console.log(response.responseText);
                });
            });
        </script>
    </body>
</html> 