<html>
    <head>
        <title> Single product </title>
    </head>
    <body>
        <h1>Single product view</h1>
        
        <%= request.product.name %>
        <br>
        <%= request.product.description %>
        <br>
        <%= request.product.price %>
        <br>
        <%= request.product.quantity %>
    </body>
</html>