<html>
    
    <head>
        <title> Single Product</title>
    </head>
   
   <body>
        <h1>Single Product View</h1>
        
        <h3><%= request.Product.title %></h3>
        <p><%= request.Product.content %></p>
    </body>
    
</html>